<%= form_with scope: :task, url: task_path, method: :put, local:true do |form| %>

  <header>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
  </header>

  <div class="container">
    <div class="jumbotron text-center">

  <div style="text-align: center;" class="">

    <h1>Edit task</h1>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :tag %><br>
    <%= form.select :tag, options_for_select(Task.tags.to_a, [@task.tag, @task.tag_before_type_cast]) %>
  </p>

  <p>
    <%= form.label :expire_on %><br>
    <%=form.text_field :expire_on, placeholder: 'example: 2020-05-11 17:00'%>
  </p>

  <p>
    <%= form.label :done %><br>
    <%=form.select :done, options_for_select([true ,false]) %>
  </p>

  <p>
    <%= form.submit "Update", :class => "btn-lg btn-primary" %>
  </p>
    </div>
    </div>
    </div>

<%end %>