<h1>Listing tasks</h1>
<%= link_to "New", new_task_path, method: :get%>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.text %></td>
      <td><%= link_to 'Show', task_path(task) %></td>
      <td><%= link_to "Delete", task, :method => :delete%></td>
    </tr>
  <% end %>
</table>